@media all and (max-width:1700px){
    .netC-banner{height: 570px !important;margin: 0 0 80.75px !important;}
    .banner-txt{padding: 170px 0 0 0px !important;}
    .banner-txt-left {margin-left: 0px !important;zoom:0.95;}
    .banner_list{bottom: -84px !important;}
    .pagezoom{zoom:0.95;}

    /* 公共内容 */
    .section-box{padding-top: 85px !important;}
    .section-box-bottom{padding-bottom: 85px !important;}
    /* 模块三 */
    .section-thr-box ul li .li-thr-head {height: 100px!important;}
    .section-thr-box ul li .li-thr-sec {line-height: 34px!important;}
    /* 模块六 */
    .section-six-box ul li .six-sec-box p {line-height: 24px!important;}
    /* 模块底部 */
    .footer-w100{height:399px !important;}
    .footer-w100 .footer-sec-box{margin-top: 80px !important;}
}
@media all and (max-width:1550px){
    .netC-banner{height: 510px !important;margin: 0 0 72.25px !important;}
    .banner-txt-left {margin-left: 10px !important;zoom:0.9;}
    .pagezoom{zoom:0.85;}

    /* 公共内容 */
    .section-box{padding-top: 76px !important;}
    .section-box-bottom{padding-bottom: 76px !important;}
    /* 公共标题*/
    .section-tit-box .tit-sec-box p{line-height: 26px !important;}
    /* 模块一 */
    .section-one-box ul li .li-one-sec span{margin-bottom: 15px !important;}
    /** 模块十一 */
    .section-ele-box ul li .div-border img.ele-img {padding-top: 20px!important;}
    .section-ele-box ul li:nth-child(1) .div-border p.ele-text{margin-top: 15px!important;}
    .section-ele-box ul li .div-border .list-sec{margin-top: 20px!important;}
    .section-ele-box ul li .div-border .list-sec .list-sec-li{display: flex;margin-bottom: 15px!important;}
    /* 模块底部 */
    .footer-w100{height:357px !important;}
    .footer-w100 .footer-sec-box{margin-top: 72px !important;}
    .footer-w100 .copyright-text{bottom:8%!important;}
}
@media all and (max-width:1400px){
    .netC-banner{height: 450px !important;margin: 0 0 63.75px !important;}
    .banner-txt{padding: 180px 0 0 0px !important;}
    .banner-txt-left {margin-left: 50px !important;zoom:0.9;}
    .pagezoom{zoom:0.8;}

    /* 公共内容 */
    .section-box{padding-top: 72px !important;}
    .section-box-bottom{padding-bottom: 72px !important;}
    /* 模块一 */
    .section-one-box ul li .li-one-sec span{margin-bottom: 12px !important;}
    /** 模块十一 */
    .section-ele-box ul li .div-border img.ele-img {padding-top: 20px!important;}
    .section-ele-box ul li:nth-child(1) .div-border p.ele-text{margin-top: 10px!important;}
    .section-ele-box ul li .div-border .list-sec{margin-top: 15px!important;}
    .section-ele-box ul li .div-border .list-sec .list-sec-li{display: flex;margin-bottom: 10px!important;}
    /* 模块底部 */
    .footer-w100{height:336px !important;}
    .footer-w100 .footer-sec-box{margin-top: 68px !important;}
    .footer-w100 .copyright-text{bottom:6%!important;}
}
@media all and (max-width:1280px){
    .netC-banner{height: 420px !important;margin: 0 0 59.5px !important;}
    .banner-txt-left {margin-left: 50px !important;zoom:0.9;}
    .pagezoom{zoom:0.75;}

    /* 公共内容 */
    .section-box{padding-top: 67px !important;}
    .section-box-bottom{padding-bottom: 67px !important;}
    /* 模块一 */
    .section-one-box ul li .li-one-sec span{margin-bottom: 9px !important;}
    /* 模块底部 */
    .footer-w100{height:315px !important;}
    .footer-w100 .footer-sec-box{margin-top: 63px !important;}
}
/* IE10+ CSS styles go here */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .netC-banner{height: 600px!important;}
    .pagezoom{zoom:1!important;}
}    

#app{background: #fff;}

/** 顶部菜单 */
.page-menu{width:100%;background:#fff;position: fixed;top: 0;z-index: 50;left:50%;transform: translate(-50%, 0);box-shadow: 0 0 7px rgba(69,77,155,.35);}
.page-menu .w1200{height: 70px;display:flex;align-items: center;justify-content: space-between;}
.page-menu .company-logo{width: 73px;height: 41px;display: block;}
.page-menu span{display:block;height:65px;line-height:70px;border-bottom:3px solid rgba(0,0,0,0);color: #666;font-size: 16px;cursor: pointer;}
.page-menu span:hover,.page-menu span.hover{color: #2F73F8;border-bottom:3px solid #2F73F8;}
.page-menu .ontrial-btn{width: 150px;height:50px;line-height: 50px;text-align: center;border-radius: 25px;background: #2F73F8;cursor: pointer;}
.page-menu .company-tel{display:flex;align-items: center;}
.page-menu .company-tel img{width: 16px;display: block;}
.empty-sec{width: 100%;height: 70px;}

/** banner模块*/
.netC-banner{background:url("/images/solution_banner.png") center center no-repeat;height: 600px;position: relative;/*overflow: hidden;*/color: #fff;margin: 0 0 85px;background-size: cover;}
.netC-banner .w1200{height: 100%;}
.banner-test-btn {width: 150px;height: 54px;}
.banner-txt{padding: 155px 0 0 0px; overflow: hidden;}
.banner-txt-left {width: 660px;}
.banner-txt-left .n_server-txt{font-size: 30px; line-height: 36px;}
.banner-txt-left h3.n_server-title { margin-top: 30px; letter-spacing: 3px;font-size: 48px;}
.banner-txt-left p { color: #D7E9FF; font-size: 16px; line-height: 24px; margin: 35px 0 50px;}
.banner-txt-left ul{ width: 420px;display: flex;flex-wrap: wrap;}
.banner-txt-left li { display: inline-block; width: 110px; height: 36px;line-height: 36px;text-align: center;font-size: 16px; color: #fff; background-color: #112D77; border-radius: 3px;font-weight:500;margin-right: 30px;margin-bottom: 10px;}
.banner-txt-left .n-b-try {padding: 0 35px;height: 50px; display: inline-flex; align-items: center; margin-top: 0px; line-height: 50px;text-align: center;border-radius: 25px; background-color: #fff; color: #5C3AE4;font-size: 18px; font-weight: 600;}
.banner-txt-left .n-b-try .arrow-icon{display: inline-block;width:19px;height: 18px;margin-left: 12px;background:url("/images/banner-arrow-icon.png") center center no-repeat;background-size: 100% 100% ;}
.banner-txt-left .n-b-try:hover{background-color: #5C3AE4;color:#fff;}
.banner-txt-left .n-b-try:hover .arrow-icon{background:url("/images/banner-arrow-icon-hover.png") center center no-repeat;background-size: 100% 100%;}
.banner-txt-left h3 strong{font-size: 40px;line-height: 40px;}
.banner-btn{margin-top: 58px;}
.banner-btn a{height: 54px;line-height: 54px;border-radius: 30px;width: 167px;text-align: center;display: inline-block;font-size: 18px;}
.banner-btn a.b-try{background-color:#5FC6FB;color: #fff;}
.banner-btn a.b-know{background-color: #fff;color: #5f41f5;box-shadow: 0 0 7px rgba(69,77,155,.35);margin-left: 40px;}
.banner_list{left: 0;bottom: -85px;width:100%;}
.banner_list ul{margin-left: -16px;}
.banner_list li{border-radius: 10px;background-color: #fff;padding: 19px 0 0;width: 284px;height:114px;float: left;margin-left: 16px;box-shadow: 0 8px 16px 0 rgba(7,17,27,.1);}
.netC-banner .banner_list{color: #4a4a4a;}
.netC-banner .banner_list p{line-height: 20px;}
.banner-box{padding-left: 20px;}
.banner-icon{width: 50px;height: 50px;float: left;}
.banner-box h3{font-weight: bold; font-size: 20px;}
.banner-box p{width: 180px;}
.banner-box p span{color: #FD4C39;}

/** 公共内容 */
.section-box{width:100%;padding-top: 90px;}
.section-box-bottom{padding-bottom: 90px;}

/** 公共标题 */
.section-tit-box{width: 100%;display: flex;justify-content: center;}
.section-tit-box .tit-icon-left{margin-top:30px;display:block;width:74px;height:21px;background:url("/images/tit-icon-left.png") center center no-repeat;background-size: 100% 100%;}
.section-tit-box .tit-icon-right{margin-top:30px;display:block;width:74px;height:21px;background:url("/images/tit-icon-right.png") center center no-repeat;background-size: 100% 100%;}
.section-tit-box .tit-sec-box h2{color: #2F73F8;font-size: 40px;line-height: 50px;font-weight: bold;}
.section-tit-box .tit-sec-box p{text-align: center;line-height:22px;}

/** 公共按钮 */
.section-btn-blue{width:210px;height: 50px;color: #fff;background: #2F73F8;border-radius: 25px;margin: 20px auto 0;display: flex;align-items: center;justify-content: center;cursor: pointer;}
.section-btn-blue img{width: 10px;height: 16px;}
.section-btn-box{width:490px;height: 50px;display:flex;align-items: center; justify-content: space-between;margin:20px auto 0;}
.section-btn-box .section-btn-txt{width: 200px;height: 50px;text-align: center;line-height: 50px;border-radius: 25px;cursor: pointer;}
.section-btn-box .section-btn-txt.sec-btn-one{background-image: linear-gradient(to right, #FFBB00 , #FEA51B);}
.section-btn-box .section-btn-txt:hover.sec-btn-one{box-shadow: 0 2px 20px 2px rgba(255, 187, 0, 0.4);}
.section-btn-box .section-btn-txt.sec-btn-two{background-image: linear-gradient(to right, #6778FD , #4C50FC);}
.section-btn-box .section-btn-txt:hover.sec-btn-two{box-shadow: 0 2px 20px 2px rgba(76, 80, 252, 0.4);}

/**模块一*/
.one-w100{width: 100%;position: relative;}
.one-w100 .left-bgimg{width:200px;position: absolute;top:536px;left:0;}
.one-w100 .right-bgimg{width:138px;position: absolute;top:306px;right:0;}
.section-one-box ul{width: 100%;margin: 60px 0 20px;display: flex;flex-wrap: wrap;justify-content: space-between;}
.section-one-box ul li{width: 270px;height: 340px;border-radius: 10px;background-size: 100% 100%;background-repeat: no-repeat;background-position: center center;margin-bottom:40px;box-shadow: 0 5px 8px rgba(84, 133, 229, 0.2);}
.section-one-box ul li:nth-child(4n+1){background-image: url('/images/oneSec-img/sec-one-li-bg1.png');}
.section-one-box ul li:nth-child(4n+2){background-image: url('/images/oneSec-img/sec-one-li-bg2.png');}
.section-one-box ul li:nth-child(4n+3){background-image: url('/images/oneSec-img/sec-one-li-bg3.png');}
.section-one-box ul li:nth-child(4n+4){background-image: url('/images/oneSec-img/sec-one-li-bg4.png');}
.section-one-box ul li .li-one-head{width: 100%;height: 90px;display: flex;align-items: center;}
.section-one-box ul li .li-one-head div{margin: 0 22px 0 24px;background-size: 100% 100%;background-repeat: no-repeat;background-position: center center;}
.section-one-box ul li .li-one-head div.onehead-img1{width: 40px;height: 42px;background-image: url('/images/oneSec-img/onehead-img1.png');}
.section-one-box ul li .li-one-head div.onehead-img2{width: 47px;height: 43px;background-image: url('/images/oneSec-img/onehead-img2.png');}
.section-one-box ul li .li-one-head div.onehead-img3{width: 43px;height: 44px;background-image: url('/images/oneSec-img/onehead-img3.png');}
.section-one-box ul li .li-one-head div.onehead-img4{width: 43px;height: 43px;background-image: url('/images/oneSec-img/onehead-img4.png');}
.section-one-box ul li .li-one-head div.onehead-img5{width: 47px;height: 41px;background-image: url('/images/oneSec-img/onehead-img5.png');}
.section-one-box ul li .li-one-head div.onehead-img6{width: 42px;height: 42px;background-image: url('/images/oneSec-img/onehead-img6.png');}
.section-one-box ul li .li-one-head div.onehead-img7{width: 42px;height: 44px;background-image: url('/images/oneSec-img/onehead-img7.png');}
.section-one-box ul li .li-one-head div.onehead-img8{width: 43px;height: 41px;background-image: url('/images/oneSec-img/onehead-img8.png');}
.section-one-box ul li .li-one-head span{font-weight: bold;}
.section-one-box ul li .li-one-sec{width:170px;margin: 15px 50px 0;display: flex;justify-content: space-between;flex-wrap: wrap;}
.section-box .section-one-box ul li .li-one-sec span{width:70px;text-align: left;margin-bottom: 18px;cursor: pointer;transition: transform 0.2s;}
.section-box .section-one-box ul li .li-one-sec span:hover{transform:scale(1.2);}
.section-one-box ul li .li-one-btn {width: 160px;height: 40px;text-align: center;line-height: 40px;background: rgba(47, 115, 248, 0.13); color: #2F73F8;font-weight: bold;border-radius: 20px;margin: 20px auto 0;cursor: pointer;}

/** 模块二 */
.section-two-box ul{width: 100%;margin: 60px 0 20px;display: flex;flex-wrap: wrap;justify-content: space-between;}
.section-two-box ul li{width: 285px;height: 450px;border-radius: 10px;background-repeat: no-repeat;background-position:center center;background-size: 100% 100%;margin-bottom:40px;overflow: hidden;transition: transform 0.4s;}
.section-two-box ul li:hover{transform: translateY(-20px);box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);}
.section-two-box ul li:nth-child(1){background-image: url('/images/twoSec-img/two-li-bg1.png');}
.section-two-box ul li:nth-child(2){background-image: url('/images/twoSec-img/two-li-bg2.png');}
.section-two-box ul li:nth-child(3){background-image: url('/images/twoSec-img/two-li-bg3.png');}
.section-two-box ul li:nth-child(4){background-image: url('/images/twoSec-img/two-li-bg4.png');}
.section-two-box ul li .li-two-head{width: 285px;height: 276px;}
.section-two-box ul li .li-two-head div{width: 100%;height:100%; background-repeat: no-repeat;}
.section-two-box ul li .li-two-head .twohead-img1{background-image: url('/images/twoSec-img/two-li-img1.png');background-size: 262px 210px;background-position: 6px 60px;}
.section-two-box ul li .li-two-head .twohead-img2{background-image: url('/images/twoSec-img/two-li-img2.png');background-size: 184px 195px;background-position: 66px 60px;}
.section-two-box ul li .li-two-head .twohead-img3{background-image: url('/images/twoSec-img/two-li-img3.png');background-size: 198px 195px;background-position: 54px 60px;}
.section-two-box ul li .li-two-head .twohead-img4{background-image: url('/images/twoSec-img/two-li-img4.png');background-size: 180px 210px;background-position: 69px 60px;}
.section-two-box ul li .li-two-sec{padding: 0 30px;height: 46px;line-height:46px;color: #5386F9;border-top-right-radius: 23px;border-bottom-right-radius: 23px;box-shadow: 2px 10px 20px -3px #D6E3FE;display: inline-block;font-weight: 600;}
.section-two-box ul li .li-two-text{width: 230px;margin: 20px 30px 0;line-height: 24px;}

/** 模块三 */
.thr-w100{width: 100%;height:1508px;background: url('/images/thrSec-img/thr-sec-bg.png') no-repeat center center;background-size: 100% 100%;}
.section-thr-box ul{width: 100%;margin: 60px 0 20px;display: flex;flex-wrap: wrap;justify-content: space-between;}
.section-thr-box ul li{width: 380px;height: 236px;border-radius: 8px;background-repeat: no-repeat;background-position:center center;background-size: 100% 100%;margin-bottom:40px;overflow: hidden;cursor: pointer;}
.section-thr-box ul li:nth-child(1){background-image: url('/images/thrSec-img/thr-li-bg1.png');}
.section-thr-box ul li:nth-child(2){background-image: url('/images/thrSec-img/thr-li-bg2.png');}
.section-thr-box ul li:nth-child(3){background-image: url('/images/thrSec-img/thr-li-bg3.png');}
.section-thr-box ul li:nth-child(4){background-image: url('/images/thrSec-img/thr-li-bg4.png');}
.section-thr-box ul li:nth-child(5){background-image: url('/images/thrSec-img/thr-li-bg5.png');}
.section-thr-box ul li:nth-child(6){background-image: url('/images/thrSec-img/thr-li-bg6.png');}
.section-thr-box ul li:nth-child(7){background-image: url('/images/thrSec-img/thr-li-bg7.png');}
.section-thr-box ul li:nth-child(8){background-image: url('/images/thrSec-img/thr-li-bg8.png');}
.section-thr-box ul li:nth-child(9){background-image: url('/images/thrSec-img/thr-li-bg9.png');}
.section-thr-box ul li:nth-child(10){background-image: url('/images/thrSec-img/thr-li-bg10.png');}
.section-thr-box ul li:nth-child(11){background-image: url('/images/thrSec-img/thr-li-bg11.png');}
.section-thr-box ul li:nth-child(12){background-image: url('/images/thrSec-img/thr-li-bg12.png');}
.section-thr-box ul li:nth-child(1):hover{background-image: url('/images/thrSec-img/thr-li-bg1-h.png');}
.section-thr-box ul li:nth-child(2):hover{background-image: url('/images/thrSec-img/thr-li-bg2-h.png');}
.section-thr-box ul li:nth-child(3):hover{background-image: url('/images/thrSec-img/thr-li-bg3-h.png');}
.section-thr-box ul li:nth-child(4):hover{background-image: url('/images/thrSec-img/thr-li-bg4-h.png');}
.section-thr-box ul li:nth-child(5):hover{background-image: url('/images/thrSec-img/thr-li-bg5-h.png');}
.section-thr-box ul li:nth-child(6):hover{background-image: url('/images/thrSec-img/thr-li-bg6-h.png');}
.section-thr-box ul li:nth-child(7):hover{background-image: url('/images/thrSec-img/thr-li-bg7-h.png');}
.section-thr-box ul li:nth-child(8):hover{background-image: url('/images/thrSec-img/thr-li-bg8-h.png');}
.section-thr-box ul li:nth-child(9):hover{background-image: url('/images/thrSec-img/thr-li-bg9-h.png');}
.section-thr-box ul li:nth-child(10):hover{background-image: url('/images/thrSec-img/thr-li-bg10-h.png');}
.section-thr-box ul li:nth-child(11):hover{background-image: url('/images/thrSec-img/thr-li-bg11-h.png');}
.section-thr-box ul li:nth-child(12):hover{background-image: url('/images/thrSec-img/thr-li-bg12-h.png');}
.section-thr-box ul li .li-thr-head{width: 100%;height: 120px;display: flex;align-items: center;color: #333;font-weight: 600;}
.section-thr-box ul li .li-thr-head div{margin: 0 19px 0 39px;background-size: 100% 100%;background-repeat: no-repeat;background-position: center center;}
.section-thr-box ul li .li-thr-head div.thrhead-img1{width: 43px;height: 40px;background-image: url('/images/thrSec-img/thr-li-icon1.png');}
.section-thr-box ul li .li-thr-head div.thrhead-img2{width: 41px;height: 40px;background-image: url('/images/thrSec-img/thr-li-icon2.png');}
.section-thr-box ul li .li-thr-head div.thrhead-img3{width: 38px;height: 38px;background-image: url('/images/thrSec-img/thr-li-icon3.png');}
.section-thr-box ul li .li-thr-head div.thrhead-img4{width: 41px;height: 39px;background-image: url('/images/thrSec-img/thr-li-icon4.png');}
.section-thr-box ul li .li-thr-head div.thrhead-img5{width: 40px;height: 38px;background-image: url('/images/thrSec-img/thr-li-icon5.png');}
.section-thr-box ul li .li-thr-head div.thrhead-img6{width: 40px;height: 37px;background-image: url('/images/thrSec-img/thr-li-icon6.png');}
.section-thr-box ul li .li-thr-head div.thrhead-img7{width: 46px;height: 38px;background-image: url('/images/thrSec-img/thr-li-icon7.png');}
.section-thr-box ul li .li-thr-head div.thrhead-img8{width: 41px;height: 40px;background-image: url('/images/thrSec-img/thr-li-icon8.png');}
.section-thr-box ul li .li-thr-head div.thrhead-img9{width: 41px;height: 41px;background-image: url('/images/thrSec-img/thr-li-icon9.png');}
.section-thr-box ul li .li-thr-head div.thrhead-img10{width: 45px;height: 40px;background-image: url('/images/thrSec-img/thr-li-icon10.png');}
.section-thr-box ul li .li-thr-head div.thrhead-img11{width: 39px;height: 39px;background-image: url('/images/thrSec-img/thr-li-icon11.png');}
.section-thr-box ul li .li-thr-head div.thrhead-img12{width: 38px;height: 38px;background-image: url('/images/thrSec-img/thr-li-icon12.png');}
.section-thr-box ul li:nth-child(1):hover .li-thr-head div.thrhead-img1{width: 43px;height: 40px;background-image: url('/images/thrSec-img/thr-li-icon1-h.png');}
.section-thr-box ul li:nth-child(2):hover .li-thr-head div.thrhead-img2{width: 41px;height: 40px;background-image: url('/images/thrSec-img/thr-li-icon2-h.png');}
.section-thr-box ul li:nth-child(3):hover .li-thr-head div.thrhead-img3{width: 38px;height: 38px;background-image: url('/images/thrSec-img/thr-li-icon3-h.png');}
.section-thr-box ul li:nth-child(4):hover .li-thr-head div.thrhead-img4{width: 41px;height: 39px;background-image: url('/images/thrSec-img/thr-li-icon4-h.png');}
.section-thr-box ul li:nth-child(5):hover .li-thr-head div.thrhead-img5{width: 40px;height: 38px;background-image: url('/images/thrSec-img/thr-li-icon5-h.png');}
.section-thr-box ul li:nth-child(6):hover .li-thr-head div.thrhead-img6{width: 40px;height: 37px;background-image: url('/images/thrSec-img/thr-li-icon6-h.png');}
.section-thr-box ul li:nth-child(7):hover .li-thr-head div.thrhead-img7{width: 46px;height: 38px;background-image: url('/images/thrSec-img/thr-li-icon7-h.png');}
.section-thr-box ul li:nth-child(8):hover .li-thr-head div.thrhead-img8{width: 41px;height: 40px;background-image: url('/images/thrSec-img/thr-li-icon8-h.png');}
.section-thr-box ul li:nth-child(9):hover .li-thr-head div.thrhead-img9{width: 41px;height: 41px;background-image: url('/images/thrSec-img/thr-li-icon9-h.png');}
.section-thr-box ul li:nth-child(10):hover .li-thr-head div.thrhead-img10{width: 45px;height: 40px;background-image: url('/images/thrSec-img/thr-li-icon10-h.png');}
.section-thr-box ul li:nth-child(11):hover .li-thr-head div.thrhead-img11{width: 39px;height: 39px;background-image: url('/images/thrSec-img/thr-li-icon11-h.png');}
.section-thr-box ul li:nth-child(12):hover .li-thr-head div.thrhead-img12{width: 38px;height: 38px;background-image: url('/images/thrSec-img/thr-li-icon12-h.png');}
.section-thr-box ul li .li-thr-sec{padding: 0 38px;color: #999;line-height: 28px;}
.section-thr-box ul li:hover .li-thr-head{color: #fff;}
.section-thr-box ul li:hover .li-thr-sec{color: #fff;}

/** 模块四 */
.four-w100{width: 100%;height: 900px;background: #F3F8FF;}
.section-four-box .menu-list{width:100%;height: 233px;display:flex;align-items: center;justify-content: space-between;}
.section-four-box .menu-list li{display: flex;justify-content: center;flex-direction:column;cursor: pointer;}
.section-four-box .menu-list li div{width: 70px;height: 70px;border-radius: 70px;box-shadow: 0 6px 15px 2px rgba(84, 133, 229, 0.2);margin:0 auto 24px;}
.section-four-box .menu-list li:hover div{width: 70px;height: 70px;border-radius: 70px;box-shadow: 0 2px 15px 2px rgba(84, 133, 229, 0.6);margin:0 auto 24px;}
.section-four-box .menu-list li div img{width: 100%;height: 100%;border-radius: 100%;}
.section-four-box .menu-list li .blue{color: #2F73F8;}
.sec-list li{width: 100%;display:flex;align-items: center;justify-content: space-between;}
.sec-list li.list-left{flex-direction: row;}
.sec-list li.list-right{flex-direction: row-reverse;}
.sec-list li .sec-img{width: 503px;height: 402px;}
.sec-list li .sec-box{width: 605px;height: 410px;}
.sec-list li .sec-box h2,.sec-list li .sec-box h4{font-weight: bold;}
.sec-list li .sec-box p{width: 380px;line-height: 22px;}
.sec-list li .sec-box .labelbox{width: 480px;display: flex; align-items: center;justify-content: space-between;}
.sec-list li .sec-box .labelbox .labellist{display: flex;flex-direction: column;}
.sec-list li .sec-box .labelbox .labellist .label-img{width: 60px; height: 60px; border-radius: 100%; margin: 0 auto 20px;transition: transform 0.5s;}
.sec-list li .sec-box .labelbox .labellist .label-img:hover{transform: rotate(360deg);}
.sec-list li .sec-box .labelbox .labellist .label-text{display: block; width: 100%; text-align: center;}

/** 模块五 */
.five-w100{width: 100%;height: 868px;background: url('/images/fiveSec-img/five-sec-bg.png') center center no-repeat; background-size: 101% 100%;}
.section-five-box ul{width:100%;margin-top: 60px;display: flex;justify-content: space-between;flex-wrap: wrap;}

.section-five-box ul li {width: 285px;height: 115px; box-shadow: 8px 8px 20px -5px rgba(123, 123, 123, 0.15);display: flex;justify-content: space-between;background: #fff;border: 0;box-sizing: border-box;position: relative;cursor: pointer;}
/* .section-five-box ul li::after,.section-five-box ul li::before{content: '';box-sizing: border-box;border: 2px solid transparent;width:0;height: 0;position: absolute;}
.section-five-box ul li::after {top: 0;left: 0;transition: border-color 0s ease-in 0.4s,width 0.1s ease-in 0.3s,height 0.1s ease-in 0.2s;}
.section-five-box ul li::before {bottom: 0;right: 0;transition: border-color 0s ease-in 0.2s,width 0.1s ease-in 0.1s,height 0.1s ease-in;}
.section-five-box ul li:hover::after,.section-five-box ul li:hover::before {content: '';width: 100%;height: 100%;}
.section-five-box ul li:hover::after{border-top-color: #00a0e9;border-right-color: #00a0e9;transition: width 0.1s ease-out,height 0.1s ease-out 0.1s;}
.section-five-box ul li:hover::before{border-bottom-color: #00a0e9;border-left-color: #00a0e9;transition: border-color 0s ease-out 0.2s,width 0.1s ease-out 0.2s,height 0.1s ease-out 0.3s;} */
.section-five-box ul li:hover {width: 285px;height: 115px; box-shadow: 2px 2px 20px -5px rgba(123, 123, 123, 0.75);display: flex;justify-content: space-between;background: #fff;}
.section-five-box ul li .five-sec-img{width: 50px; height: 50px;margin:20px;}
.section-five-box ul li div.five-sec-box{width:200px;}
.section-five-box ul li h2{font-weight: bold;}
.section-five-box ul li p{padding-right: 10px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;line-height: 20px;}

/** 模块六 */
.section-six-box ul{width:100%;margin-top: 60px;display: flex;justify-content: space-between;flex-wrap: wrap;}
.section-six-box ul li{width: 390px;height: 180px;display: flex;background-position: center center;background-size: 100% 100%;background-repeat: no-repeat;box-shadow: 2px 2px 20px -5px rgba(123, 123, 123, 0.15);}
.section-six-box ul li:hover{box-shadow: 2px 2px 20px -5px rgba(123, 123, 123, 0.75);}
.section-six-box ul li:nth-child(1){background-image: url('/images/sixSec-img/six-sec-bg1.png');}
.section-six-box ul li:nth-child(2){background-image: url('/images/sixSec-img/six-sec-bg2.png');}
.section-six-box ul li:nth-child(3){background-image: url('/images/sixSec-img/six-sec-bg3.png');}
.section-six-box ul li:nth-child(4){background-image: url('/images/sixSec-img/six-sec-bg4.png');}
.section-six-box ul li:nth-child(5){background-image: url('/images/sixSec-img/six-sec-bg5.png');}
.section-six-box ul li:nth-child(6){background-image: url('/images/sixSec-img/six-sec-bg6.png');}
.section-six-box ul li img.six-sec-img{width: 21px;height: 21px;margin: 20px;}
.section-six-box ul li .six-sec-box{width: 300px;padding-right: 20px;}
.section-six-box ul li .six-sec-box p{line-height: 24px;}

/** 模块七 */
.section-sev-box{width:874px;margin: 0 auto;padding-top: 60px;}
.section-sev-box .section-sev-ul{width: 100%;display: flex; justify-content: space-between;}
.section-sev-box .section-sev-ul .section-sev-li h2{font-weight: bold;}
.section-sev-box .section-sev-img {width:743px;height: 375px;margin: 0 auto;}
.section-sev-box .section-sev-img img{width: 100%;height: 100%;}

/** 模块八 */
.section-eig-box{width: 100%;position: relative;}
.section-eig-box .swiper-container{width: 1195px;padding:60px 0 40px 5px;}
.section-eig-box .swiper-container .swiper-slide{width: 376px !important;height: 480px;background:#fff;box-shadow: 8px 8px 20px -5px rgba(68, 131, 255, 0.2);}
.section-eig-box .swiper-container .swiper-slide img{width: 338px;height: 306px;margin: 0 auto; padding-top: 24px;display: block;}
.section-eig-box .swiper-container .swiper-slide h2 {width: 100%;text-align: center;font-weight: bold;}
.section-eig-box .swiper-container .swiper-slide p {line-height: 20px;padding:0 35px;}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{right: -50px;left: auto;}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {left: -50px;right: auto;}
.swiper-button-next, .swiper-button-prev{width:auto;height:auto;}
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {content: '';width:33px;height:62px;background-image:url('/images/eigSec-img/banner-right-icon.png');background-repeat: no-repeat;background-position: center center;background-size: 100% 100%;opacity: 0.2;}
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {content: '';width:33px;height:62px;background-image:url('/images/eigSec-img/banner-left-icon.png');background-repeat: no-repeat;background-position: center center;background-size: 100% 100%;opacity: 0.2;}

/** 模块九 */
.section-nine-box{width: 100%;padding-top: 60px;padding-bottom: 40px;display: flex;align-items: center;justify-content: center;}
.section-nine-box .sec-nine-img{width: 406px;height: 408px;display: block;}
.section-nine-box ul li {display: flex;align-items: center;}
.section-nine-box ul li:nth-last-child(1){margin-bottom:0;}
.section-nine-box ul li .nine-sec-img{width: 45px;height: 54px;transition: transform 0.3s;}
.section-nine-box ul li .nine-sec-img:hover{transform:rotateY(180deg);}
.section-nine-box ul li h2{font-weight: bold;}
.section-nine-box ul li:nth-child(1),.section-nine-box ul li:nth-child(6){margin-left: -34px;}
.section-nine-box ul li:nth-child(2),.section-nine-box ul li:nth-child(5){margin-left: 20px;}
.section-nine-box ul li:nth-child(3),.section-nine-box ul li:nth-child(4){margin-left: 52px;}

/** 模块十 */
.ten-w100{width: 100%;height: 733px;background: #F8FBFF;}
.section-ten-box{width: 100%;padding-top: 60px;padding-bottom: 40px;}
.section-ten-box .ten-time-img{width: 1033px;display: block;margin: 0 auto;}
.section-ten-box ul {display: flex; align-items: center; justify-content: space-between;}
.section-ten-box ul.ten-box-ul1{width:925px;margin-left: 67px;}
.section-ten-box ul.ten-box-ul2{width:925px;margin-left: 209px;}
.section-ten-box ul li {width:80px;display: flex; flex-direction: column;}
.section-ten-box ul li img{width: 32px;height: 32px;display: block;margin:0 auto}
.section-ten-box ul li span{display: inline-block;height: 40px;line-height: 40px;text-align: center;}

/** 模块十一*/
.ele-w100{width:100%;height:955px;background-image: url('/images/ele-sec-bg.png');background-position: center center; background-size: 100% 100%; background-repeat: no-repeat;}
.section-ele-box ul{width:890px;padding-top: 60px;padding-bottom:40px;margin: 0 auto;display: flex;align-items: center;justify-content: space-between;}
.section-ele-box ul li{width: 400px;height: 508px;background:#fff;box-shadow: 0 0 20px 2px rgba(185, 185, 185, 0.35);display:flex;align-items: center;justify-content: center;}
.section-ele-box ul li .div-border{width: 380px;height:488px;border:1px solid #E6E6E6;display: flex;flex-direction: column;align-items: center;}
.section-ele-box ul li .div-border img.ele-img{width: 60px;height:60px;padding-top: 30px;}
.section-ele-box ul li .div-border h2{font-size:24px; color:#3F3F3F;font-weight:bold;}
.section-ele-box ul li .div-border span{width: 40px;height:3px;background: #2F73F8;display: block;}
.section-ele-box ul li:nth-child(1) .div-border p.ele-text{width:246px;text-align: center;}
.section-ele-box ul li:nth-child(2) .div-border p.ele-text{width:208px;text-align: center;}
.section-ele-box ul li .div-border .list-sec{width:308px;margin-top: 30px;}
.section-ele-box ul li .div-border .list-sec .list-sec-li{display: flex;margin-bottom: 20px;}
.section-ele-box ul li .div-border .list-sec .list-sec-li i{width: 4px;height:4px;border-radius: 100%;background: #3F3F3F;display: block;margin: 7px 10px 0 0;}

/** 模块十二 */
.section-thw-box{width: 100%;padding: 60px 0 90px;}
.section-thw-box .company-box{width: 98%;margin: 0 auto;}
.section-thw-box .company-pic{width:100%;height:100%;display: block;}

/** 模块十三 */
.thi-w100{width: 100%;height:700px;background: url('/images/thi-sec-bg.png') no-repeat center center;background-size: 100% 100%;}
.thi-w100 .div-body{height: 100%;display: flex; align-items: center;}
.section-thi-box{width:100%;height:492px;display: flex;}
.section-thi-box .thi-sec-left{width: 600px;height: 100%;background: url('/images//thi-left-bg.png') no-repeat center center;background-size: 100% 100%;}
.section-thi-box .thi-sec-left .sec-left-label{padding-top: 80px;font-size: 30px;margin-left: 156px;}
.section-thi-box .thi-sec-left .sec-left-label span{color: #FFBB00;}
.section-thi-box .thi-sec-left .sec-left-title{height:55px;line-height:55px;font-size: 48px;display: flex;align-items: center;margin-left: 116px;}
.section-thi-box .thi-sec-left .sec-left-title i{width: 18px;height:18px;background: #FFF71E;transform:rotate(45deg);display: block;margin-right: 20px;}
.section-thi-box .thi-sec-left .sec-left-subtit{margin-left: 156px;}
.section-thi-box .thi-sec-left ul{margin-top: 60px;margin-left: 138px;}
.section-thi-box .thi-sec-left ul li{display: flex;align-items: center;}
.section-thi-box .thi-sec-left ul li i{width: 8px;height:8px;background: #FFF71E;transform:rotate(45deg);display: block;margin-right: 10px;}
.section-thi-box .thi-sec-right{width: 600px;padding-top:80px;background: #fff;display: flex;flex-direction: column;align-items: center;}
.section-thi-box .thi-sec-right .sec-right-input{width:314px;height:46px;padding:0 22px;border:1px solid #DADADA;border-radius: 6px;font-size: 16px;color: #333;}
.section-thi-box .thi-sec-right .sec-right-input.textarea{height:90px; padding: 15px 22px;font-family: Arial;}
.section-thi-box .thi-sec-right .sec-right-btn{width:360px;height:46px;background: linear-gradient(to right, #6778FD , #4E53FC);text-align: center;line-height: 46px;border-radius: 6px;cursor: pointer;}

/* 模块-底部 */
.footer-w100{width: 100%;height:420px;background: url('/images/footer-sec-bg.png') no-repeat center center;background-size: 100% 101%;position: relative;}
.footer-w100 .div-body{height: 100%;}
.footer-w100 .footer-path{width: 100%;padding-top: 60px;display: flex;align-items: center;}
.footer-w100 .footer-path span{display: inline-block;margin-right: 60px;}
.footer-w100 .footer-sec-box{width:100%;display: flex;justify-content: space-between;margin-top: 85px;}
.footer-w100 .footer-sec-box .footer-sec-contact{display: flex;flex-direction: column;}
.footer-w100 .footer-sec-box .footer-sec-contact span{display: block;}
.footer-w100 .footer-sec-box .ewm-icon{width: 100px;height: 100px;display: block;}
.footer-w100 .copyright-text{width:100%;position: absolute;bottom: 10%;left:0;text-align: center;}

/* 20200928 机器人新样式*/
.consult_wrap{height: 180px;position: fixed;left: 10px;top: 35%;transform: translateY(-50%);-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-o-transform: translateY(-50%);-mstransform: translateY(-50%);z-index:99;}
.consult_wrap>a{  text-decoration:none;  }
.consult_wrap span{color: #67627f;display: inline-block;border-radius: 90px 90px 90px 0;box-shadow: 4px 4px 16px rgba(100,137,241,.1);height: 44px;line-height: 44px;background-color: #fff;padding: 0 26px;display: inline-block;transform: scale(0);transform-origin: left bottom;transition: all 0.25s ease-in;}
.consult_wrap a:hover span{transform: scale(1);}
.consult_wrap img{height: 178px;}
.robot-a{width: 150px;height: 150px;position: absolute;top: 0;left: 0;z-index: 99999;display: block;}
.robot-a .a-span {width: 128px;height: 44px;position: absolute;top: 50%;margin-top: -34px;right: -180px;}
.robot-head{width: 150px;height: 150px;}

.consult_robot{width: 150px;height: 363px;background-image: url('/images/robot-bg.png');background-repeat: no-repeat;background-position: center center;background-size: 100% 100%;position: relative;}
.consult_robot>a{width: 100%;padding-top: 167px;display: block;}
.robot-sec{width: 100%;}
.robot-sec li{width: 90px;height: 18px;background: #fff;border-radius: 18px;margin: 0 auto 11.25px;display: flex;align-items: center;justify-content: center;}
.robot-sec li>p{display: inline-block;color: #6351CA;font-size: 12px;transform: scale(0.875);}
.robet-tel-tit{width: 100%;font-size: 14px;color: #FFED23;text-align: center;margin: 4px 0;}
.robot-tel{width: 147px;height: 38px;margin: 0 auto;background-image: url('/images/robot-tel-bg.png');background-repeat: no-repeat;background-size: 100% 100%;background-position: center center;display: flex;}
.robot-tel-icon{width: 18px;height: 18px !important;margin: 9px;}
.robot-tel-text{height: 38px;line-height: 38px;color: #fff;font-size: 14px;margin-left: 9px;}

/* 弹窗 */
.bg-shadow{background: rgba(0,0,0,0.5);filter: alpha(opacity=30);position: fixed;_position: absolute;height: 100%;width: 100%;top: 0;right: 0;bottom: 0;left: 0;z-index: 11;display: none;}
.bg-shadow-show{background: rgba(0,0,0,0.5);filter: alpha(opacity=30);position: fixed;_position: absolute;height: 100%;width: 100%;top: 0;right: 0;bottom: 0;left: 0;z-index: 11;display: block;}
.tryoutBox{width: 980px; height: 488px; position:fixed; top:50%; left:50%; margin:-244px 0 0 -490px;background:#fff;z-index: 9999;border-radius: 5px;display: none;}
.tryoutBox-show{width: 980px; height: 488px; position:fixed; top:50%; left:50%; margin:-244px 0 0 -490px;background:#fff;z-index: 9999;border-radius: 5px;display: block;}
.left-text {width: 340px; margin: 46px 65px 47px; float: left; color: #fff; height: 395px; background: url('/images/popup-banner.png') round; background-size: cover;}
.left-text h2 {line-height: 30px; font-size: 30px; margin-top: 60px;margin-left: 28px; margin-bottom: 30px; font-weight: bold;}
.left-text p {font-size:17px;line-height:48px;margin-left: 25px;}
.applyForm-box {float: left; width: 420px; text-align: left;} 
.trial-ab-form { padding: 0 ;}
.tryLogo{display: block;text-align: left;padding: 64px 0 23px;line-height: 40px;font-size: 36px;font-weight: bold;color: #1F2128;}
.applyForm-box > p{font-size: 16px;color: #000; line-height: 30px;}
.trial-ab-form .trialBtn{height: 50px;margin: 20px 0 0; width: 388px;border-radius:3px;}
.trial-ab-form .trialBtn .suBtn{padding: 0;outline: none; background:linear-gradient(94deg,rgba(0,186,248,1) 0%,rgba(0,124,220,1) 100%);
  border-radius:3px;border: none;border-radius:3px;color: #fff;font-size: 16px;margin: 0;height: 50px;line-height: 50px;width: 100%;cursor: pointer;}
.trial-ab-form li{padding: 20px 0 0;}
.trial-ab-form p {font-size:14px;color: #BBBBBB; margin-top: 22px;}
.trial-ab-form li input,.trial-ab-form li select{width:388px; color: #333; padding: 10px 14px; line-height: 50px; box-sizing: border-box; font-size: 16px; height:50px; border:1px solid rgba(202,202,202,1);border-radius:4px;}
.trial-ab-form li select{appearance:none;-moz-appearance:none;-webkit-appearance:none;padding-right: 10px;background: url('/images/arrow.png') no-repeat scroll right center transparent;}
/*.trial-ab-form li select option{padding: 5px 10px;}*/
.reg-try{height: 30px;line-height: 30px;margin-top: 7px;}
.reg-try a{color: #398ae6;font-size: 14px;}
.reg-try a:hover{color:#1e73e7;text-decoration: none;}
.close-try{width: 20px;height: 20px;position: absolute;  box-shadow: 0 0 0px rgba(0,0,0,.16); top: 30px;right: 30px;display: block;background: url('/images/popup-close.png') round;}
