<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <title>网校点播/直播课堂/在线教育网校系统-268网校系统</title>
        <meta name="keywords" content="网校系统，搭建网校，网校源码，教育软件，直播教学，授课讲课软件，在线教育，网校平台，网校源码">
	    <meta name="description" content="【268网校系统-在线网校一站式技术服务商】涵盖网校直播/录播课程/互动班级/教学管理/助学工具/推广营销等,为各类培训机构提供领先的在线网校平台方案服务。">
        <!-- 让IE浏览器用最高级内核渲染页面 还有用 Chrome 框架的页面用webkit 内核 ================================================== -->
        <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
        <!-- IOS6全屏 Chrome高版本全屏 ================================================== -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <!-- 让360双核浏览器用webkit内核渲染页面 ================================================== -->
        <meta name="renderer" content="webkit">
        <!-- 微软的老式浏览器 -->
        <meta name="MobileOptimized" content="width"/>
        <!-- CSS ================================================== -->
        <link rel="stylesheet" href="./css/global.css">
        <link rel="stylesheet" href="./css/index.css">
        <!-- Favicons ================================================== -->
        <link rel="shortcut icon" href="favicon.ico">
        <script type="text/javascript" src="./js/jquery-1.11.3.min.js"></script>
        <!-- <script type="text/javascript" src="./js/flexible.debug.js"></script> -->
    </head>
    <body>
        <div id="app" class="">
            <div class="w1200 page-menu"></div>
            <section id="item1" class="netC-banner">
                <div class="w1200 pr">
                    <div class="banner-txt">
                        <div class="fl banner-txt-left">
                            <h2 class="n_server-txt">268教育软件 × 1V1量身定制</h2>
                            <h3 class="n_server-title"><strong>私有化专属 在线教育网校系统</strong></h3>
                            <p>专注服务各类线下机构，传统教育行业，覆盖各类教育培训场景，<br>量身打造在线软件平台，实现互联网转型。</p>
                            <ul class="radio">
                                <li>职业培训</li>
                                <li>留学语言</li>
                                <li>K12教育</li>
                                <li>司法医学</li>
                                <li>公办院校</li>
                                <li>企业培训</li>
                            </ul>
                            <a id="try-reg" href="javascript:;" class="n-b-try">获取免费测试账号/在线教育解决方案 <div class="arrow-icon"></div></a>
                        </div>
                    </div>
                    <article class="banner_list pa">
                        <ul class="clearfix">
                            <li>
                                <div class="banner-box">
                                    <img class="banner-icon" src="./images/bIcon1-img.png"/>
                                    <div class="fl pl10">
                                        <h3>独立部署+SaaS租赁</h3>
                                        <p class="fsize16 c-999 mt15">系统支持<span>多种部署形式</span>， 机构可以根据自身情况选 择合作模式</p>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </li>
                            <li>
                                <div class="banner-box">
                                    <img class="banner-icon" src="./images/bIcon2-img.png"/>
                                    <div class="fl pl10">
                                        <h3>1V1量身定制开发</h3>
                                        <p class="fsize16 c-999 mt15">根据机构的<span>个性化需求</span>， 实现1V1量身定制开发</p>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </li>
                            <li>
                                <div class="banner-box">
                                    <img class="banner-icon" src="./images/bIcon3-img.png"/>
                                    <div class="fl pl10">
                                        <h3>开放源码+二次开发</h3>
                                        <p class="fsize16 c-999 mt15">系统<span>源码可打包</span>独立购买， 方便机构进行二次开发</p>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </li>
                            <li>
                                <div class="banner-box">
                                    <img class="banner-icon" src="./images/bIcon4-img.png"/>
                                    <div class="fl pl10">
                                        <h3>多个终端自由切换</h3>
                                        <p class="fsize16 c-999 mt15">支持微信，小程序，APP 电脑端多个<span>终端数据同步</span></p>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </li>
                        </ul>
                    </article>
                </div>
            </section>
            <div class="div-body w1200">
                <div class="section-box">
                    <div class="section-tit-box">
                        <span class="tit-icon-left mr30"></span>
                        <div class="tit-sec-box">
                            <h2 class="mb20">2000余项网校功能，在线教育一体化解决方案专家</h2>
                            <p class="fsize16 c-999">11年在线教育产品研发经验，拥有自主研发的11大产品中心，37项产品应用，已经<br>为15000家多个领域的企业用户提供教育信息化服务</p>
                        </div>
                        <span class="tit-icon-right ml30"></span>
                    </div>
                    <div class="section-btn-box">
                        <span class="fsize16">获取详细功能列表</span>
                        <img class="ml10" src="./images/arrow-right-icon.png " alt="">
                    </div>
                    <div class="section-one-box">
                        <ul>
                            <li v-for="(item, index) in oneBoxList">
                                <div class="li-one-head">
                                    <div :class="item.class"></div>
                                    <span class="fsize20 c-fff">{{item.title}}</span>
                                </div>
                                <div class="li-one-sec mt15 fsize16 c-666">
                                    <span v-for="(labeltext, index) in item.label">{{labeltext}}</span>
                                </div>
                                <div class="li-one-btn fsize14">咨询详情</div>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <script>
            // //百度咨询代码
            // (function() {
            //     var _53code = document.createElement("script");
            //     _53code.src = "https://tb.53kf.com/code/code/e49613946bf78d7197f3af52fac2e1986/1";
            //     var s = document.getElementsByTagName("script")[0]; 
            //     s.parentNode.insertBefore(_53code, s);
            // })();

            // //百度统计代码
            // var _hmt = _hmt || [];
            // (function() {
            // var hm = document.createElement("script");
            // hm.src = "https://hm.baidu.com/hm.js?82e4e7ee710352006706ff97d0af3fa6";
            // var s = document.getElementsByTagName("script")[0]; 
            // s.parentNode.insertBefore(hm, s);
            // })();
        </script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script type="text/babel" src="../js/browser.min.js"></script>
        <script type="text/babel" src="../js/polyfill.min.js"></script>
        
        <script src="./js/index.js"></script>
    </body>
</html>